<!-- sidebar.html -->
<header class="sidebar-header" role="banner">
	<a href="{{ site.BASE_PATH }}/">
		<img width="100" src="{{ site.BASE_PATH }}/assets/img/logo-hypnos.jpg" style="border-radius: 30%"/>
	</a>
	<h3 class="title">
        <a href="{{ site.BASE_PATH }}/">{{ site.title }}</a>
    </h3>
</header>

{% if site.author.bio %}
<div id="bio" class="text-center">
	<a href="{{ site.BASE_PATH }}/{{ site.hypnose_path }}/">{{ site.author.bio }}</a>
</div>
{% endif %}
<!-- sidebar.html end -->
